.content-container {
    margin-top: 78px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px;
    max-height: calc(100vh - 78px);
    position: relative;
}
  
.content-container.active-call {
    padding: 0;
}